@{
    ViewData["Title"] = "Show";
}

<div class="text-center">
    <p>Show action.</p>
    <p>@ViewData["InstanceMethod"]</p>
    <p>@ViewData["StaticMethod"]</p>
    <p>@ViewData["JsonStuff"]</p>
</div>
